PORT=3000
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=auth

JWT_SECRET_KEY=u8XwL3pQz1VnJ7sBd4FkR9mGh2CyT0aZ
JWT_ISSUER=https://localhost
JWT_AUDIENCE=https://localhost:4000/webportal
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=50

REFRESH_TOKEN_COOKIE_NAME=refreshToken
REFRESH_TOKEN_DAYS=7
